*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  padding:17px;
}


.container-fluid{
  padding-top: 3%;
  padding-right: 15%;
  padding-bottom: 3%;
  scroll-padding-left: 15%;
}
.navbar-nav {
flex-direction: row;}

.nav-item{
margin: auto 9%;}

.header {
background-image: linear-gradient(to right bottom, rgba(0,0,0,1), rgba(0,0,0,0)), url(/images/print2.jpg);
background-size:cover;
background-position:top;
height:100vh;
}
.navbar a{
  color: white;
  font-weight: bold;
}
.main-heading h2 {
  margin-top: 20%;
  font-size: 3rem;
  font-weight: 500;
}
.main-heading h4{
  margin-top: 1.5rem;
  word-spacing: 9%;
}
.krish{
  display: flex;
  justify-content: center;
  align-items: center;
  
 
  margin-top: 10px;
}
.vasu{
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.vasu .card{
  position: relative;
  width:280px;
  height: 380px;
  background: #fff;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  transition: 0.5s;
}
.vasu .card .circle{
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(150px at center 0);
  text-align: center;
}
.vasu .card .circle h1 {
  color: #fff;
   font-size:2.5rem;
   padding: 30px 0;
}
.vasu .card .content{
  position:absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;
  page-break-after: 20px;
}
.vasu .card .content p{
  color: #666;
}
.vasu .card .content a{
  position: relative;
  display: inline-block;
  padding:10px 20px;
  background: #800;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
}
.vasu:hover .card{
  filter:blur(20px);
  transform:scale(0.9);
  opacity: 0.5;
}
.vasu .card:hover{
  filter:blur(0px);
  transform:scale(1.1);
  opacity: 1;
}
.vasu .card:nth-child(1) .circle,
.vasu .card:nth-child(1) .content a
{   background: #ffaf00;}

.vasu .card:nth-child(2) .circle,
.vasu .card:nth-child(2) .content a
{  background: #da2268;}

.vasu .card:nth-child(3) .circle,
.vasu .card:nth-child(3) .content a
{background: #bb02ff;}


.discover{
text-align: center;
margin: 10px 0px;
margin-bottom: 25px;
}
.discover h2{
font-size:2.5rem;
margin-top: 20px;
color:rgb(0, 0, 0);
  border-radius: 40px;
  background: #fff;
  padding:10px 20px;
  display: inline-block;

}
.colorcase{
  background:linear-gradient(#3eadcf,#abe9cd);
}
.image-showcase{
  list-style: none;
  width: 100%;}
.image-showcase li{
  display: block;
  float: left;
  width: 25%;
} 
.product-photo{
  width: 100%;
  margin: 0%;
  overflow: hidden;
}
.product-photo img{
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s;
}
.product-photo img:hover{
  transform: scale(1.03);
}
.product-images{
  padding:0%;
}
.review{
  
 
 
  color: white;}

  .review-human{
      border-radius: 100%;
      margin:20%;
      margin-top:5%;
      margin-bottom: 5%;
      }
      .review-slide{
          padding: 7% 15% 0% 15%;  
      }
      .test-space{
          margin-top: 25px;
          background-color:#3eadcf;
          text-align: center;
      }
      
      .main-heading{
        color: white;}


